<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="headline"><span>PHYSICAL PRE-ORDER</span></h1><h2 class="headline">ALL BUNDLE  PRE-ORDERS  INCLUDE AUTOGRAPHED POSTCARD</h2>
  </div>
  <div class="col-lg-5 col-lg-offset-1 text-center">
    <a href="http://asitis.merchnow.com/" target="_blank"><img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/asitis/uspreorder.png"></a>
  </div>
  <div class="col-lg-5 text-center">
    <a href="http://fearlessrecords.firebrandstores.com/products.php?storeid=719&cat=4239" target="_blank"><img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/asitis/ukpreorder.png"></a>
  </div>
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <a href="http://found.ee/neverhappyVNYL" target="_blank"><img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/asitis/vinyl.png"></a>
  </div>
  <div class="col-lg-10 col-lg-offset-1 divider"></div>
</div>
