  <!-- TWEET -->
  <div class="row">
    <div id="tweet"></div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <br>
      <h1 class="headline">CATCH US ON <img class="warped" src="https://s3.amazonaws.com/myfangate.com/asitis/wt15logo.png"></h1><h1 class="headline"> PLAYING THE <img class="journeys" src="https://s3.amazonaws.com/myfangate.com/asitis/journeyslogo.png"> STAGE ALL SUMMER  LONG!</h1>
      <br>
    </div>
    <div class="col-lg-12 text-center">
      <h1 class="headline"><span>Tweet your entry here.<span></h1>
      <a href="https://twitter.com/intent/tweet?text=I%20just%20entered%20to%20win%20Warped%20Tour%20tickets%20from%20@asitisofficial%20at%20;url=http://fngt.it/asitis/t;hashtags=neverhappyeverafter;" class="twitter-tweet-button"><button class="twitter btn btn-danger"><i class="fa fa-2x fa-twitter"></i><span class="tweet-text"> Tweet</span></button></a>
    </div>
    <div class="col-lg-10 col-lg-offset-1 divider"></div>
  </div>
