  <!-- TWEET -->
  <div class="row">
    <div id="tweet"></div>
    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
      <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/asitis/warpedlogo.png">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
      <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/asitis/tickets.png">
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
      <h1 class="headline subtext"> PLAYING THE <img class="journeys" src="https://s3.amazonaws.com/myfangate.com/asitis/journeyslogo.png"> STAGE ALL SUMMER  LONG!</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1 class="headline"><span>TWEET TO WIN A PAIR OF TICKETS TO A  <img class="warped" src="https://s3.amazonaws.com/myfangate.com/asitis/wt15logo.png"> DATE NEAR YOU!</span></h1>
      <a href="https://twitter.com/intent/tweet?text=I%20just%20entered%20to%20win%20Warped%20Tour%20tickets%20from%20@asitisofficial%20at%20;url=http://fngt.it/Asitis/t;hashtags=neverhappyeverafter;" class="twitter-tweet-button"><button class="twitter btn btn-danger"><i class="fa fa-2x fa-twitter"></i><span class="tweet-text"> Tweet</span></button></a>
    </div>
  </div>
