<div class="row">
  <div class="col-lg-10 col-lg-offset-1 divider"></div>
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="headline">WATCH  THE MUSIC VIDEO FOR <span>“DIAL TONES”</span></h1>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="embed-responsive embed-responsive-16by9 video">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLsBWlr67U5Nv9sGGK_oA9U1TVmj7vtxDC"></iframe>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <br>
    <h1 class="headline">AND STREAM  THE NEW SINGLE <span> “CONCRETE”</span></h1>
  </div>
  <div class="col-lg-10 col-lg-offset-1 divider"></div>
</div>
