---
title: As It Is
---

<!-- TWEET -->
<a href="https://twitter.com/intent/tweet?text=Code%20is%20poetry;url=http://fngt.it/asitis/t" class="twitter-tweet-button"><button class="btn btn-danger"><i class="fa fa-twitter"></i> Tweet</button></a>


<br>


<!-- Social Wall  -->
<%= partial "partials/social-wall" %>

